################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Arrays/BalancedArray/BalancedArray/obj
/Arrays/BalancedArray/BalancedArray/bin/Debug/netcoreapp3.0
/Arrays/BalancedArray/BalancedArray/.vs/BalancedArray/v16
/Arrays/RotateArray
/Arrays/BalancedArray/obj
/Arrays/BalancedArray/bin/Debug/netcoreapp3.0
/Arrays/BalancedArray/.vs/BalancedArray
